<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Tour Travel</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />

  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">

	<!-- Animate.css -->
	<link rel="stylesheet" href="/assets/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/assets/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/assets/css/bootstrap.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="/assets/css/magnific-popup.css">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="/assets/css/flexslider.css">

	<!-- Owl Carousel -->
	<link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/assets/css/owl.theme.default.min.css">

	<!-- Date Picker -->
	<link rel="stylesheet" href="/assets/css/bootstrap-datepicker.css">
	<!-- Flaticons  -->
	<link rel="stylesheet" href="/assets/fonts/flaticon/font/flaticon.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="/assets/css/style.css">

	<!-- Modernizr JS -->
	<script src="/assets/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>

	<div class="colorlib-loader"></div>

	<div id="page">
		<nav class="colorlib-nav" role="navigation">
			<div class="top-menu">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-2">
							<div id="colorlib-logo"><a href="/">Tour</a></div>
						</div>
						<div class="col-xs-10 text-right menu-1">
							<ul>
								<li><a href="/">Trang chủ</a></li>
								<li class="has-dropdown">
									<a href="/tours">Du lịch</a>
									<ul class="dropdown">
										<li><a href="#">Điểm đến</a></li>
										<li><a href="#">Du lịch trên biển</a></li>
										<li><a href="#">Khách sạn</a></li>
										<li><a href="#">Đặt phòng</a></li>
									</ul>
								</li>
								<li><a href="/hotels">Khách sạn</a></li>
								<li class="active"><a href="/blog">Blog</a></li>
								<li><a href="/about">Về chúng tôi</a></li>
								<li><a href="/contact">Liên hệ với chúng tôi</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</nav>
		<aside id="colorlib-hero">
			<div class="flexslider">
				<ul class="slides">
			   	<li style="background-image: url(/assets/images/cover-img-2.jpg);">
			   		<div class="overlay"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
				   				<div class="slider-text-inner text-center">
				   					<h2>Bài viết của chúng tôi</h2>
				   					<h1>Blog</h1>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			  	</ul>
		  	</div>
		</aside>

		<div id="colorlib-blog">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<div class="wrap-division">
							<%  blog.forEach(relsult =>{ %>
								<article class="animate-box">
									<div class="blog-img" style="background-image:url('/assets/UploadBlog/<%= relsult.Banner %>');"></div>
									<div class="desc">
										<div class="meta">
											<p>
												<span><%= relsult.date %></span>
												<span class="cat"><%= relsult.Type %></span>
											</p>
										</div>
										<h2><a href="/blog/<%= relsult._id %>"><%= relsult.Name %></a></h2>
										<p>Tác Giả: <%= relsult.Author %></p>
									</div>
								</article>
								<% }) %>
						</div>
						<div class="row">
							<div class="col-md-12">
								<ul class="pagination">
									<li class="disabled"><a href="#">&laquo;</a></li>
									<%  for(var i = 0;i <= sumpage ; i++){ %>
										<li><a href="./blog?page=<%= i + 1 %>"><%= i +1 %></a></li>
									<% } %>
									<!-- <li class="active"><a href="#">1</a></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li> -->
									<li><a href="#">&raquo;</a></li>
								</ul>
							</div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="sidebar-wrap">
							<div class="side animate-box">
								<h3 class="sidebar-heading">Bài viết gần đây</h3>
								<%  sort.forEach(relsult =>{ %>
								<div class="blog-entry-side">
									<a href="/blog/<%= relsult[0]._id %>" class="blog-post">
										<span class="img" style="background-image: url('/assets/UploadBlog/<%= relsult[0].Banner %>');"></span>
										<div class="desc">
											<span class="date"><%= relsult[1] %></span>
											<h3><%= relsult[0].Name %></h3>
											<span class="cat"><%= relsult[0].Type %></span>
										</div>
									</a>
								</div>
								<% }) %>
								
							</div>
							<div class="side animate-box">
								<div class="sidebar-heading">Thể loại</div>
								<ul class="category">
									<% if( dulich.length > 0){ %>
										<li><a href="blog/search?q=Du Lịch"><i class="icon-check"></i> Du lịch <span>(<%= dulich.length %>)</span></a></li>
									<% }else{ %>
									<% } %>

									<% if( AnUong.length > 0){ %>
										<li><a href="blog/search?q=Ăn Uống"><i class="icon-check"></i> Ăn - Uống <span>(<%= AnUong.length %>)</span></a></li>
									<% }else{ %>
									<% } %>

									<% if( vuichoi.length > 0){ %>
										<li><a href="blog/search?q=Vui Chơi"><i class="icon-check"></i> Vui Chơi <span>(<%= vuichoi.length %>)</span></a></li>
									<% }else{ %>
									<% } %>

									<% if( xeco.length > 0){ %>
										<li><a href="blog/search?q=Xe - Cộ"><i class="icon-check"></i> Xe - Cộ <span>(<%= xeco.length %>)</span></a></li>
									<% }else{ %>
									<% } %>

									<% if( khachsan.length > 0){ %>
										<li><a href="blog/search?q=Khách Sạn"><i class="icon-check"></i> Khách Sạn <span>(<%= khachsan.length %>)</span></a></li>
									<% }else{ %>
									<% } %>
									
									<% if( nhahang.length > 0){ %>
										<li><a href="blog/search?q=Nhà Hàng"><i class="icon-check"></i> Nhà Hàng <span>(<%= nhahang.length %>)</span></a></li>
									<% }else{ %>
									<% } %>
									
									<% if( diadiem.length > 0){ %>
										<li><a href="blog/search?q=Địa Điểm"><i class="icon-check"></i> Địa Điểm <span>(<%= diadiem.length %>)</span></a></li>
									<% }else{ %>
									<% } %>
									
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!---------------------------------------------------- Footer ----------------------------------------------------------------------->
		<%- include ('partials/footer') %>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
	</div>
	<script type="text/javascript">
	var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
	(function(){
	var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
	s1.async=true;
	s1.src='https://embed.tawk.to/5f23c8701a544e2a7275b240/default';
	s1.charset='UTF-8';
	s1.setAttribute('crossorigin','*');
	s0.parentNode.insertBefore(s1,s0);
	})();
	</script>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
	</div>

	<!-- jQuery -->
	<script src="/assets/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="/assets/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="/assets/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="/assets/js/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="/assets/js/jquery.flexslider-min.js"></script>
	<!-- Owl carousel -->
	<script src="/assets/js/owl.carousel.min.js"></script>
	<!-- Magnific Popup -->
	<script src="/assets/js/jquery.magnific-popup.min.js"></script>
	<script src="/assets/js/magnific-popup-options.js"></script>
	<!-- Date Picker -->
	<script src="/assets/js/bootstrap-datepicker.js"></script>
	<!-- Stellar Parallax -->
	<script src="/assets/js/jquery.stellar.min.js"></script>
	<!-- Main -->
	<script src="/assets/js/main.js"></script>

	</body>
</html>

