<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Tour Travel</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.checked {
  color: orange;
}
</style>
  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">

	<!-- Animate.css -->
	<link rel="stylesheet" href="/assets/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/assets/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/assets/css/bootstrap.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="/assets/css/magnific-popup.css">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="/assets/css/flexslider.css">

	<!-- Owl Carousel -->
	<link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/assets/css/owl.theme.default.min.css">

	<!-- Date Picker -->
	<link rel="stylesheet" href="/assets/css/bootstrap-datepicker.css">
	<!-- Flaticons  -->
	<link rel="stylesheet" href="/assets/fonts/flaticon/font/flaticon.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="/assets/css/style.css">

	<!-- Modernizr JS -->
	<script src="/assets/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>

	<div class="colorlib-loader"></div>

	<div id="page">
		<nav class="colorlib-nav" role="navigation">
			<div class="top-menu">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-2">
							<div id="colorlib-logo"><a href="/">Tour</a></div>
						</div>
						<div class="col-xs-10 text-right menu-1">
							<ul>
								<li><a href="/">Trang chủ</a></li>
								<li class="has-dropdown">
									<a href="/tours">Du lịch</a>
									<ul class="dropdown">
										<li><a href="#">Điểm đến</a></li>
										<li><a href="#">Du lịch trên biển</a></li>
										<li><a href="#">Khách sạn</a></li>
										<li><a href="#">Đặt phòng</a></li>
									</ul>
								</li>
								<li class="active"><a href="/hotels">Khách sạn</a></li>
								<li><a href="/blog">Blog</a></li>
								<li><a href="/about">Về chúng tôi</a></li>
								<li><a href="/contact">Liên hệ với chúng tôi</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</nav>
		<aside id="colorlib-hero">
			<div class="flexslider">
				<ul class="slides">
			   	<li style="background-image: url(/assets/images/cover-img-4.jpg);">
			   		<div class="overlay"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
				   				<div class="slider-text-inner text-center">
				   					<h2>Tâm điền thêm</h2>
				   					<h1>Tìm kiếm khách sạn</h1>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			  	</ul>
		  	</div>
		</aside>

		<div class="colorlib-wrap">
			<div class="container">
				<div class="row">
					<div class="col-md-9">
						<div class="row">
							<div class="wrap-division">
								<%  hotels.forEach(relsult =>{ %>
								<div class="col-md-6 col-sm-6 animate-box">
									<div class="hotel-entry">
										<a href="/hotels/<%= relsult._id %>" class="hotel-img" style="background-image: url(/assets/images/hotel-1.jpg);">
											<p class="price"><span><%= relsult.Details.Price %>$</span><small> /night</small></p>
										</a>
										<div class="desc">
											<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 32 Reviews</p>
											<h3><a href="/hotels/<%= relsult._id %>"><%= relsult.Name %></a></h3>
											<span class="place"><%= relsult.Details.Location %></span>
											<p>Tiền sảnh ngập tràn ánh sáng ...</p>
										</div>
									</div>
								</div>
								<% }) %>
								<div class="col-md-6 col-sm-6 animate-box">
									<div class="hotel-entry">
										<a href="hotel-room.html" class="hotel-img" style="background-image: url(/assets/images/hotel-2.jpg);">
											<p class="price"><span>$000</span><small> /night</small></p>
										</a>
										<div class="desc">
											<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 32 Reviews</p>
											<h3><a href="#">Pullman Vung Tau</a></h3>
											<span class="place">Vung Tau, Vietnam</span>
											<p>Tâm làm phần mô tả khách sạn.</p>
										</div>
									</div>
								</div>
								

								<!-- <div class="col-md-6 col-sm-6 animate-box">
									<div class="hotel-entry">
										<a href="hotel-room.html" class="hotel-img" style="background-image: url(/assets/images/hotel-2.jpg);">
											<p class="price"><span>$000</span><small> /night</small></p>
										</a>
										<div class="desc">
											<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 32 Reviews</p>
											<h3><a href="#">Pullman Vung Tau</a></h3>
											<span class="place">Vung Tau, Vietnam</span>
											<p>Tâm làm phần mô tả khách sạn.</p>
										</div>
									</div>
								</div>

								<!-- <div class="col-md-6 col-sm-6 animate-box">
									<div class="hotel-entry">
										<a href="hotel-room.html" class="hotel-img" style="background-image: url(/assets/images/hotel-3.jpg);">
											<p class="price"><span>$000</span><small> /night</small></p>
										</a>
										<div class="desc">
											<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 32 Reviews</p>
											<h3><a href="#">Pullman Vung Tau</a></h3>
											<span class="place">Vung Tau, Vietnam</span>
											<p>Tâm làm phần mô tả khách sạn.</p>
										</div>
									</div>
								</div><div class="col-md-6 col-sm-6 animate-box">
									<div class="hotel-entry">
										<a href="hotel-room.html" class="hotel-img" style="background-image: url(/assets/images/hotel-2.jpg);">
											<p class="price"><span>$000</span><small> /night</small></p>
										</a>
										<div class="desc">
											<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 32 Reviews</p>
											<h3><a href="#">Pullman Vung Tau</a></h3>
											<span class="place">Vung Tau, Vietnam</span>
											<p>Tâm làm phần mô tả khách sạn.</p>
										</div>
									</div>
								</div> -->

								<div class="col-md-6 col-sm-6 animate-box">
									<div class="hotel-entry">
										<a href="hotel-room.html" class="hotel-img" style="background-image: url(/assets/images/hotel-3.jpg);">
											<p class="price"><span>$000</span><small> /night</small></p>
										</a>
										<div class="desc">
											<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 32 Reviews</p>
											<h3><a href="#">Pullman Vung Tau</a></h3>
											<span class="place">Vung Tau, Vietnam</span>
											<p>Tâm làm phần mô tả khách sạn.</p>
										</div>
									</div>
								</div><div class="col-md-6 col-sm-6 animate-box">
									<div class="hotel-entry">
										<a href="hotel-room.html" class="hotel-img" style="background-image: url(/assets/images/hotel-2.jpg);">
											<p class="price"><span>$000</span><small> /night</small></p>
										</a>
										<div class="desc">
											<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 32 Reviews</p>
											<h3><a href="#">Pullman Vung Tau</a></h3>
											<span class="place">Vung Tau, Vietnam</span>
											<p>Tâm làm phần mô tả khách sạn.</p>
										</div>
									</div>
								</div>

								<div class="col-md-6 col-sm-6 animate-box">
									<div class="hotel-entry">
										<a href="hotel-room.html" class="hotel-img" style="background-image: url(/assets/images/hotel-3.jpg);">
											<p class="price"><span>$000</span><small> /night</small></p>
										</a>
										<div class="desc">
											<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 32 Reviews</p>
											<h3><a href="#">Pullman Vung Tau</a></h3>
											<span class="place">Vung Tau, Vietnam</span>
											<p>Tâm làm phần mô tả khách sạn.</p>
										</div>
									</div>
								</div><div class="col-md-6 col-sm-6 animate-box">
									<div class="hotel-entry">
										<a href="hotel-room.html" class="hotel-img" style="background-image: url(/assets/images/hotel-2.jpg);">
											<p class="price"><span>$000</span><small> /night</small></p>
										</a>
										<div class="desc">
											<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 32 Reviews</p>
											<h3><a href="#">Pullman Vung Tau</a></h3>
											<span class="place">Vung Tau, Vietnam</span>
											<p>Tâm làm phần mô tả khách sạn.</p>
										</div>
									</div>
								</div>

								<div class="col-md-6 col-sm-6 animate-box">
									<div class="hotel-entry">
										<a href="hotel-room.html" class="hotel-img" style="background-image: url(/assets/images/hotel-3.jpg);">
											<p class="price"><span>$000</span><small> /night</small></p>
										</a>
										<div class="desc">
											<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 32 Reviews</p>
											<h3><a href="#">Pullman Vung Tau</a></h3>
											<span class="place">Vung Tau, Vietnam</span>
											<p>Tâm làm phần mô tả khách sạn.</p>
										</div>
									</div>
								</div> -->

								<!-- <div class="col-md-6 col-sm-6 animate-box">
									<div class="hotel-entry">
										<a href="hotel-room.html" class="hotel-img" style="background-image: url(/assets/images/hotel-4.jpg);">
											<p class="price"><span>$000</span><small> /night</small></p>
										</a>
										<div class="desc">
											<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 32 Reviews</p>
											<h3><a href="#">Pullman Vung Tau</a></h3>
											<span class="place">Vung Tau, Vietnam</span>
											<p>Tâm làm phần mô tả khách sạn.</p>
										</div>
									</div>
								</div> -->

								<!-- <div class="col-md-6 col-sm-6 animate-box">
									<div class="hotel-entry">
										<a href="hotel-room.html" class="hotel-img" style="background-image: url(/assets/images/hotel-5.jpg);">
											<p class="price"><span>$000</span><small> /night</small></p>
										</a>
										<div class="desc">
											<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 32 Reviews</p>
											<h3><a href="#">Pullman Vung Tau</a></h3>
											<span class="place">Vung Tau, Vietnam</span>
											<p>Tâm làm phần mô tả khách sạn.</p>
										</div>
									</div>
								</div>

								<div class="col-md-6 col-sm-6 animate-box">
									<div class="hotel-entry">
										<a href="hotel-room.html" class="hotel-img" style="background-image: url(/assets/images/hotel-6.jpg);">
											<p class="price"><span>$000</span><small> /night</small></p>
										</a>
										<div class="desc">
											<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 32 Reviews</p>
											<h3><a href="#">Pullman Vung Tau</a></h3>
											<span class="place">Vung Tau, Vietnam</span>
											<p>Tâm làm phần mô tả khách sạn.</p>
										</div>
									</div>
								</div>

								<div class="col-md-6 col-sm-6 animate-box">
									<div class="hotel-entry">
										<a href="hotel-room.html" class="hotel-img" style="background-image: url(/assets/images/hotel-7.jpg);">
											<p class="price"><span>$000</span><small> /night</small></p>
										</a>
										<div class="desc">
											<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 32 Reviews</p>
											<h3><a href="#">Pullman Vung Tau</a></h3>
											<span class="place">Vung Tau, Vietnam</span>
											<p>Tâm làm phần mô tả khách sạn.</p>
										</div>
									</div>
								</div> -->

								<!-- <div class="col-md-6 col-sm-6 animate-box">
									<div class="hotel-entry">
										<a href="hotel-room.html" class="hotel-img" style="background-image: url(/assets/images/hotel-8.jpg);">
											<p class="price"><span>$000</span><small> /night</small></p>
										</a>
										<div class="desc">
											<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 32 Reviews</p>
											<h3><a href="#">Pullman Vung Tau</a></h3>
											<span class="place">Vung Tau, Vietnam</span>
											<p>Tâm làm phần mô tả khách sạn.</p>
										</div>
									</div>
								</div> -->
							</div>
						</div>
						<% if(hotels[0]  == undefined){ %>
							<div class="alert alert-danger" role="alert">
								<i class="fa fa-info-circle" aria-hidden="true"></i>     	Hotel bạn đang tìm không có.
							</div>
						<% }else{ %>
							<div class="row">
								<div class="col-md-12 text-center">
									<%if (page == 1) { %>
										<ul class="pagination">
											<% if(page <= 1){ %>
												<li class="page-item disabled">
													<a class="page-link" tabindex="-1" aria-disabled="true">&laquo</a>
												</li>
											<% }else{ %>
												<li><a href="?page=<%= page - 1 %>">&laquo;</a></li>
											<% } %>
											<% for(i=1;i<=pagination;i++){ %> 
												<% if(i < page+3){ %>
													<% if(i === page){ %> 
														<li class="page-item active" aria-current="page">
															<a class="page-link" ><%= i %> <span class="sr-only">(current)</span></a>
														</li>
													<% }else{ %> 
														<li><a href="<% if(q === undefined || gia == undefined){ %>?page=<%= i %><% }else{ %>?q=<%= q %>&Gia=<%= gia %>&page=<%= i %><% } %>"><%= i %></a></li>
													<% } %> 
												<% } %>
											<% } %>
											<% if(page >= sumpage){ %>
												<li class="page-item disabled">
													<a class="page-link" tabindex="-1" aria-disabled="true">&raquo</a>
												</li>
											<% }else{ %>
												<li><a href="<% if(q === undefined && gia == undefined){ %>?page=<%= page + 1 %><% }else{ %>?q=<%= q %>&Gia=<%= gia %>&page=<%= page + 1 %><% } %>"">&raquo;</a></li>
											<% } %>
										</ul>
									<% } else if (page == sumpage) { %>
										<ul class="pagination">
											<% if(page <= 1){ %>
												<li class="page-item disabled">
													<a class="page-link" tabindex="-1" aria-disabled="true">&laquo</a>
												</li>
											<% }else{ %>
												<li><a href="<% if(q === undefined && gia == undefined){ %>?page=<%= page - 1 %><% }else{ %>?q=<%= q %>&Gia=<%= gia %>&page=<%= page - 1 %><% } %>">&laquo;</a></li>
											<% } %>
											<% for(i=1;i<=pagination;i++){ %> 
												<% if( i > page-3){ %>
													<% if(i === page){ %> 
														<li class="page-item active" aria-current="page">
															<a class="page-link" ><%= i %> <span class="sr-only">(current)</span></a>
														</li>
													<% }else{ %> 
														<li><a href="<% if(q === undefined || gia == undefined){ %>?page=<%= i %><% }else{ %>?q=<%= q %>&Gia=<%= gia %>&page=<%= i %><% } %>"><%= i %></a></li>
													<% } %> 
												<% } %>
											<% } %>
											<% if(page >= sumpage){ %>
												<li class="page-item disabled">
													<a class="page-link" tabindex="-1" aria-disabled="true">&raquo</a>
												</li>
											<% }else{ %>
												<li><a href="<% if(q === undefined && gia == undefined){ %>?page=<%= page + 1 %><% }else{ %>?q=<%= q %>&Gia=<%= gia %>&page=<%= page + 1 %><% } %>"">&raquo;</a></li>
											<% } %>
										</ul>
									<% } else { %>
										<ul class="pagination">
											<% if(page <= 1){ %>
												<li class="page-item disabled">
													<a class="page-link" tabindex="-1" aria-disabled="true">&laquo</a>
												</li>
											<% }else{ %>
												<li><a href="<% if(q === undefined && gia == undefined){ %>?page=<%= page - 1 %><% }else{ %>?q=<%= q %>&Gia=<%= gia %>&page=<%= page - 1 %><% } %>">&laquo;</a></li>
											<% } %>
											<% for(i=1;i<=pagination;i++){ %> 
												<% if(i < page+2 && i > page-2){ %>
													<% if(i === page){ %> 
														<li class="page-item active" aria-current="page">
															<a class="page-link" ><%= i %> <span class="sr-only">(current)</span></a>
														</li>
													<% }else{ %> 
														<li><a href="<% if(q === undefined || gia == undefined){ %>?page=<%= i %><% }else{ %>?q=<%= q %>&Gia=<%= gia %>&page=<%= i %><% } %>"><%= i %></a></li>
													<% } %> 
												<% } %>
											<% } %>
											<% if(page >= sumpage){ %>
												<li class="page-item disabled">
													<a class="page-link" tabindex="-1" aria-disabled="true">&raquo</a>
												</li>
											<% }else{ %>
												<li><a href="<% if(q === undefined && gia == undefined){ %>?page=<%= page + 1 %><% }else{ %>?q=<%= q %>&Gia=<%= gia %>&page=<%= page + 1 %><% } %>"">&raquo;</a></li>
											<% } %>
										</ul>
									<% } %>
								</div>
							</div>
						<% } %>
					</div>

					<!-- SIDEBAR-->
					<div class="col-md-3">
						<div class="sidebar-wrap">
							<div class="side search-wrap animate-box">
								<h3 class="sidebar-heading">Tìm khách sạn</h3>
								<form class="colorlib-form" method="GET"  action="/hotels/search">
				              	<div class="row">
				                <div class="col-md-12">
									<label for="date">Search Hotels</label>
									<div class="form-field">
										<input type="text" name="q" class="form-control" placeholder="Search Hotels">
									</div>
								</div>
								<br>
								<br>
								<br>
								<br>
				                <div class="col-md-12">
									<label for="date">Giá /Night </label>
									<div class="form-field">
										<select name="Gia" id="people" class="form-control">
										  <option style="color: black;" value="1">Thấp-Cao</option>
										  <option style="color: black;" value="-1">Cao-Thấp</option>
										</select>
									  </div>
								</div>
								<br>
								<br>
								<br>
								<br>
								<!-- <div class="col-md-12">
									<label for="date">Star Hotels </label>
									<div class="form-field">
										<select name="people" id="people" class="form-control">
										  <option style="color: black;"	value="1">1</option>
										  <option style="color: black;" value="#">2</option>
										  <option style="color: black;" value="#">3</option>
										  <option style="color: black;" value="#">4</option>
										  <option style="color: black;" value="#">5</option>
										</select>
									  </div>
								</div> -->
								<br>
								<br>
								<br>
				                  <input type="submit"  id="submit" class="btn btn-primary btn-block">
				              </div>
				            </form>
							<!-- </div>
							<div class="side animate-box">
								<div class="row">
									<div class="col-md-12">
										<h3 class="sidebar-heading">Giá</h3>
										<form method="post" class="colorlib-form-2">
						              	<div class="row">
						                <div class="col-md-6">
						                  <div class="form-group">
						                    <label for="guests">Giá từ:</label>
						                    <div class="form-field">
						                      <i class="icon icon-arrow-down3"></i>
						                      <select name="people" id="people" class="form-control">
						                        <option value="#">1</option>
						                        <option value="#">200</option>
						                        <option value="#">300</option>
						                        <option value="#">400</option>
						                        <option value="#">1000</option>
						                      </select>
						                    </div>
						                  </div>
						                </div>
						                <div class="col-md-6">
						                  <div class="form-group">
						                    <label for="guests">Giá đến:</label>
						                    <div class="form-field">
						                      <i class="icon icon-arrow-down3"></i>
						                      <select name="people" id="people" class="form-control">
						                        <option value="#">2000</option>
						                        <option value="#">4000</option>
						                        <option value="#">6000</option>
						                        <option value="#">8000</option>
						                        <option value="#">10000</option>
						                      </select>
						                    </div>
						                  </div>
						                </div>
						              </div>
						            </form>
					            </div>
								</div>
							</div> -->
							<!-- <div class="side animate-box">
								<div class="row">
									<div class="col-md-12">
										<h3 class="sidebar-heading">Đánh giá xếp hạng</h3>
										<form method="post" class="colorlib-form-2">
										   <div class="form-check">
												<input type="checkbox" class="form-check-input" id="exampleCheck1">
												<label class="form-check-label" for="exampleCheck1">
													<p class="rate"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span></p>
												</label>
										   </div>
										   <div class="form-check">
										      <input type="checkbox" class="form-check-input" id="exampleCheck1">
										      <label class="form-check-label" for="exampleCheck1">
										    	   <p class="rate"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span></p>
										      </label>
										   </div>
										   <div class="form-check">
										      <input type="checkbox" class="form-check-input" id="exampleCheck1">
										      <label class="form-check-label" for="exampleCheck1">
										      	<p class="rate"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span></p>
										     </label>
										   </div>
										   <div class="form-check">
										      <input type="checkbox" class="form-check-input" id="exampleCheck1">
										      <label class="form-check-label" for="exampleCheck1">
										      	<p class="rate"><span><i class="icon-star-full"></i><i class="icon-star-full"></i></span></p>
										     </label>
										   </div>
										   <div class="form-check">
										      <input type="checkbox" class="form-check-input" id="exampleCheck1">
										      <label class="form-check-label" for="exampleCheck1">
										      	<p class="rate"><span><i class="icon-star-full"></i></span></p>
										     </label>
										   </div>
										</form>
									</div>
								</div>
							</div> -->
							<!-- <div class="side animate-box">
								<div class="row">
									<div class="col-md-12">
										<h3 class="sidebar-heading"></h3>
										<form method="post" class="colorlib-form-2">
										   <div class="form-check">
												<input type="checkbox" class="form-check-input" id="exampleCheck1">
												<label class="form-check-label" for="exampleCheck1">
													<h4 class="place">Căn hộ</h4>
												</label>
										   </div>
										   <div class="form-check">
										      <input type="checkbox" class="form-check-input" id="exampleCheck1">
										      <label class="form-check-label" for="exampleCheck1">
													<h4 class="place">Khách sạn</h4>
												</label>
										   </div>
										   <div class="form-check">
										      <input type="checkbox" class="form-check-input" id="exampleCheck1">
										      <label class="form-check-label" for="exampleCheck1">
													<h4 class="place">Nhà trọ</h4>
												</label>
										   </div>
										   <div class="form-check">
										      <input type="checkbox" class="form-check-input" id="exampleCheck1">
										      <label class="form-check-label" for="exampleCheck1">
													<h4 class="place">Biệt thự</h4>
												</label>
										    </div>
										</form>
									</div>
								</div>
							</div> -->
							<!-- <div class="side animate-box">
								<div class="row">
									<div class="col-md-12">
										<h3 class="sidebar-heading">Vị trí</h3>
										<form method="post" class="colorlib-form-2">
										   <div class="form-check">
												<input type="checkbox" class="form-check-input" id="exampleCheck1">
												<label class="form-check-label" for="exampleCheck1">
													<h4 class="place">Vũng Tàu</h4>
												</label>
										   </div>
										   <div class="form-check">
										      <input type="checkbox" class="form-check-input" id="exampleCheck1">
										      <label class="form-check-label" for="exampleCheck1">
													<h4 class="place">Nha Trang</h4>
												</label>
										   </div>
										   <div class="form-check">
										      <input type="checkbox" class="form-check-input" id="exampleCheck1">
										      <label class="form-check-label" for="exampleCheck1">
													<h4 class="place">Đà Nẵng</h4>
												</label>
										   </div>
										   <div class="form-check">
										      <input type="checkbox" class="form-check-input" id="exampleCheck1">
										      <label class="form-check-label" for="exampleCheck1">
													<h4 class="place">Đà Lạt</h4>
												</label>
										   </div>
										   <div class="form-check">
										      <input type="checkbox" class="form-check-input" id="exampleCheck1">
										      <label class="form-check-label" for="exampleCheck1">
													<h4 class="place">Hạ Long</h4>
												</label>
										   </div>
										</form>
									</div> -->
								<!-- </div>
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>


		<!---------------------------------------------------- Footer ----------------------------------------------------------------------->


		<footer id="colorlib-footer" role="contentinfo">
			<div class="container">
				<div class="row row-pb-md">
					<div class="col-md-4 colorlib-widget">
						<h4>VIVU Vũng Tàu</h4>
						<p>Copyright ©2020 All rights reserved | This template is made with by Tien Thanh</p>
						<p>
							<ul class="colorlib-social-icons">
								<li><a href="#"><i class="icon-twitter"></i></a></li>
								<li><a href="#"><i class="icon-facebook"></i></a></li>
							</ul>
						</p>
					</div>
					<div class="col-md-4 colorlib-widget">
						<h4>Blog</h4>
						<p>
							<ul class="colorlib-footer-links">
								<li><a href="#">Hướng dẫn chọn một bữa ăn tốt nhất</a></li>
								<li><a href="#">Tour du lịch chỉ dành cho bạn</a></li>
							</ul>
						</p>
					</div>
					<!--<div class="col-md-2 colorlib-widget">
						<h4>Book Now</h4>
						<p>
							<ul class="colorlib-footer-links">
								<li><a href="#">Chuyến bay</a></li>
								<li><a href="#">Khách sạn</a></li>
								<li><a href="#">Tour</a></li>
								<li><a href="#">Đặt xe</a></li>
								<li><a href="#">Beach & Resorts</a></li>
								<li><a href="#">Du thuyền</a></li>
							</ul>
						</p>
					</div>
					<div class="col-md-2 colorlib-widget">
						<h4>Top Deals</h4>
						<p>
							<ul class="colorlib-footer-links">
								<li><a href="#">Pullman Vung Tau</a></li>
								<li><a href="#">The Emperial Hotel</a></li>
								<li><a href="#">Ho Tram Beach Resort</a></li>
								<li><a href="#">Malibu Hotel</a></li>
							</ul>
						</p>
					</div>
					<div class="col-md-2">
						<h4>Blog</h4>
						<ul class="colorlib-footer-links">
							<li><a href="#">Hướng dẫn chọn một bữa ăn tốt nhất</a></li>
							<li><a href="#">Làm thế nào 5 người này tìm thấy con đường đến chuyến đi mơ ước của họ</a></li>
							<li><a href="#">Tour du lịch chỉ dành cho bạn</a></li>
						</ul>
					</div>-->

					<div class="col-md-4 colorlib-widget">
						<h4>Thông tin liên hệ</h4>
						<ul class="colorlib-footer-links">
							<li>123 Huyền Trân Công Chúa, <br> Phường 8, Bà Rịa - Vũng Tàu</li>
							<li><a href="tel://1234567920">+ 1235 2355 98</a></li>
							<li><a href="mailto:info@yoursite.com">info@yoursite.com</a></li>
							<li><a href="#">yoursite.com</a></li>
						</ul>
					</div>
				</div>
				<!--<div class="row">
					<div class="col-md-12 text-center">
						<p>

							Copyright &copy;<script>document.write(new Date().getFullYear())</script>
							All rights reserved | Thằng Tâm tự làm.
						</p>
					</div>
				</div>-->
			</div>
		</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
	</div>
	<script type="text/javascript">
	var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
	(function(){
	var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
	s1.async=true;
	s1.src='https://embed.tawk.to/5f23c8701a544e2a7275b240/default';
	s1.charset='UTF-8';
	s1.setAttribute('crossorigin','*');
	s0.parentNode.insertBefore(s1,s0);
	})();
	</script>

	<!-- jQuery -->
	<script src="/assets/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="/assets/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="/assets/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="/assets/js/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="/assets/js/jquery.flexslider-min.js"></script>
	<!-- Owl carousel -->
	<script src="/assets/js/owl.carousel.min.js"></script>
	<!-- Magnific Popup -->
	<script src="/assets/js/jquery.magnific-popup.min.js"></script>
	<script src="/assets/js/magnific-popup-options.js"></script>
	<!-- Date Picker -->
	<script src="/assets/js/bootstrap-datepicker.js"></script>
	<!-- Stellar Parallax -->
	<script src="/assets/js/jquery.stellar.min.js"></script>
	<!-- Main -->
	<script src="/assets/js/main.js"></script>

	</body>
</html>

