<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= hotels.MetaTitle %></title>
    <meta name="description" content="<%= hotels.MetaDescription %>">
    <meta name="keywords" content="<%= hotels.MetaKeywords %>">
    <meta name="author" content="<%= hotels.Author %>">
	<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="/assets/css/view-hotel.css">
    <script src="https://kit.fontawesome.com/a885e11261.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <div id="banner" style="background-image:linear-gradient(0,rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0)) ,url('/assets/upload/<%= hotels.Banner[0].filename %>') ;">
        <div id="container">
            <div class="iconbanner">
                <i class="fas fa-hotel" ></i>
            </div>
            <div class="h1banner">
                <h1><%= hotels.Name %><i class="far fa-check-circle"></i></h1>
                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
            </div>
            <div class="moneybanner">
                <i class="far fa-money-bill-alt"><%= hotels.Details.Price %></i>
            </div>
            <div class="Mapbanner">
                <i class="fas fa-map-marker-alt"></i> <i>Vũng Tàu</i>
            </div>
            <div class="Mapbanner">
                <i class="fas fa-umbrella-beach"></i><i><%= hotels.Type %></i>
            </div>
            <div class="Sharebanner">
                <i class="fas fa-flag"></i>
                <i class="fas fa-share-alt"></i>
            </div>
        </div>
    </div>
    <div class="navbar">
        <div class="container-narbar">
            <ul>
                <li>
                    <a href="#">Gallery</a>
                </li>
                <li>
                    <a href="#">Description</a>
                </li>
                <li>
                    <a href="#">Details</a>
                </li>
                <li>
                    <a href="#">Location</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
                <li>
                    <a href="#">Social</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="Main">
        <div class="container-Main">
            <div class="left">
                <div class="Gallery">
                    <a class="prev" onclick="Prev()" >&#10094;</a>
                    <a class="next" onclick="Next()" >&#10095;</a>
                    <div class="chuyen-slide"  >
                        <%  hotels.Img.forEach(relsult =>{ %>
                            <img src="/assets/upload/<%= relsult.filename %>" alt="">
                        <% }) %>
                    </div>
                </div>
                <div class="Description">
                    <h2>Description</h2>
                    <div class="Description-container">
                       <%- hotels.Description %>
                    </div>
                </div>
                <div class="Details">
                    <h2>Details</h2>
                    <div class="Details-container">
                        <li>
                            <strong>Price</strong>
                            <span><%= hotels.Details.Price %></span>
                        </li>
                        <li>
                            <strong>Hotel class</strong>
                            <span>⭐️⭐️⭐️⭐️⭐️</span>
                        </li>
                        <li>
                            <strong>Rooms</strong>
                            <span><%= hotels.Details.Rooms %></span>
                        </li>
                        <li>
                            <strong>Location / Region</strong>
                            <span><%= hotels.Details.Region %></span>
                        </li>
                    </div>
                </div>
                <div class="Location">
                    <h2>Location</h2>
                    <%- hotels.Location %>
                </div>
                <div class="Contact">
                    <h2>Contact</h2>
                    <div class="Contact-container">
                        <li>
                            <strong>E-mail</strong>
                            <a href="<%= hotels.Contact.Email %>"><%= hotels.Contact.Email %></a>
                        </li>
                        <li>
                            <strong>Website</strong>
                            <a href="<%= hotels.Contact.Website %>"><%= hotels.Contact.Website %></a>
                        </li>
                        <li>
                            <strong>Phone</strong>
                            <a href="tel:0<%= hotels.Contact.Phone %>">0<%= hotels.Contact.Phone %></a>  
                        </li>
                        <li>
                            <strong>Address</strong>
                            <span><%= hotels.Contact.Address %>
                            </span>
                        </li>
                    </div>
                </div>
                <div class="Comment">
                    <h2>Comment</h2>
                    <div class="fb-comments" data-href="http://127.0.0.1:5500/Documents/Html&amp;Css.html" data-numposts="1" data-width="100%"></div>
                </div>
            </div>
            <div class="right">
                <div class="author">
                    <img src="/assets/images/default-user-image.png"><br>
                    <a><%= hotels.Author %></a>
                </div>
                <div class="Contact">
                    <p>Liên hệ đặt Dịch Vụ</p>
                    <form>
                        <input type="text" name="name" placeholder="    Your name.."><br>
                        <input type="email" name="Email" placeholder="    Your email.."><br>
                        <input type="text" name="Phone" placeholder="    Your Phone.."><br>
                        <input type="text" name="Subject" placeholder="    Your Subject.."><br>
                        <textarea name="Message" placeholder="  Messagee..."></textarea><br>
                        <button type="submit">Send Message</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="fb-root"></div>
    <script>
        var kichthuong = document.getElementsByClassName("Gallery")[0].clientWidth;
        var chuyenslide = document.getElementsByClassName("chuyen-slide")[0]
        var Img = chuyenslide.getElementsByTagName("img");
        var  Max = kichthuong * Img.length;
        Max -= kichthuong;
        var Chuyen = 0;
        function Next(){
            if(Chuyen < Max){
                Chuyen+=kichthuong;
            }
            else Chuyen = 0
            chuyenslide.style.marginLeft = "-"+Chuyen+"px"
            clearInterval(time)
        }
        function Prev(){
            if(Chuyen == 0){
                Chuyen = Max;
            }
            else Chuyen-=kichthuong;
            chuyenslide.style.marginLeft = "-"+Chuyen+"px"
            clearInterval(time)
        }
        var  time = setInterval(() => {
            if(Chuyen < Max){
                Chuyen+=kichthuong;
            }
            else Chuyen = 0
            chuyenslide.style.marginLeft = "-"+Chuyen+"px"
        }, 1000);
    </script>
</body>
</html>